/* for card */
.recipe-card {
    display: flex;
    flex-direction: column;
    height: 80%;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card > * {
    flex: 1;
}

.recipe-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.recipe-card .p-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-card a {
    display: inline-block;
    max-width: 50%;
    text-align: center;
}

.recipe-card a:hover {
    background-color: #3182ce;
}

@media screen and (min-width: 768px) and (max-width:1270px) {
    .recipe-card a {
        max-width: 70%;
    }
}

/* for skeleton */
.recipe-card {
    position: relative;
    overflow: hidden;
    height: 80%;
}

.skeleton-image {
    width: 100%;
    height: 50%;
    background-color: #f0f0f0;
}

.skeleton-info {
    padding: 20px;
}

.skeleton-text {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

/* Animation */
@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

.animate-pulse {
    animation: pulse 1.5s infinite;
}

/* for pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 12px;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination-btn:hover {
    background-color: #f0f0f0;
}

.pagination-btn.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
